a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

html {
    line-height: 1
}

body {
    line-height: inherit
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

    blockquote:after, blockquote:before, q:after, q:before {
        content: '';
        content: none
    }

table {
    border-collapse: collapse;
    border-spacing: 0
}

/* Base Styles */
html {
    background-color: #EAEAEA;
    color: #444;
    font-family: "Roboto Slab", sans-serif;
}

ul, ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #07C;
    font-family: "Roboto Mono", monospace;
}

main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #E0E0E0;
}

article {
    display: grid;
    grid-template-columns: 100px 3fr;
    grid-template-rows: 100%;

    background-color: #808080;
}

/*
#chats, #messages, #chat-window, #message-box {
    display: grid;
}
*/

#chats {
    background-color: #07C;
    display: flex;
    flex-direction: column;
}

#messages {
    background-color: #00ff21;
    display: flex;
    flex-direction: column;
}

#message-box {
    background-color: #ffd800;
    display: flex;
    flex-direction: row;
}

#message {
    flex-grow: 1;
}

#submit {
    flex-grow: 0;
}

/*
.chat {
    background-color: #4800ff;
}

.message {
    background-color: #ff6a00;
}
*/

@media screen and (min-width: 400px) { /* Between narrow view and small screen */
    main {
        max-width: 95%;
    }
}

@media screen and (min-width: 1000px) { /* Large screen */
    main {
        max-width: 90%;
    }
}